In [6]:
import numpy as np

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mlp
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname ="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc('font',family=font_name)
mlp.rcParams['axes.unicode_minus']=False

In [27]:
seoul_pop = pd.read_csv("C:\\hojun13\\python\\프로젝트\\17년치 시군구별 이동자수.csv", encoding="cp949")
seoul_pop

,행정구역(시군구)별,2006.1/4,2006.1/4.1,2006.2/4,2006.2/4.1,2006.3/4,2006.3/4.1,2006.4/4,2006.4/4.1,2007.1/4,...,2021.4/4,2021.4/4.1,2022.1/4,2022.1/4.1,2022.2/4,2022.2/4.1,2022.3/4,2022.3/4.1,2022.4/4,2022.4/4.1
0,행정구역(시군구)별,총전입 (명),총전출 (명),총전입 (명),총전출 (명),총전입 (명),총전출 (명),총전입 (명),총전출 (명),총전입 (명),...,총전입 (명),총전출 (명),총전입 (명),총전출 (명),총전입 (명),총전출 (명),총전입 (명),총전출 (명),총전입 (명),총전출 (명)
1,서울특별시,564368,557006,534527,547619,474367,479747,600645,626086,597349,...,327776,356948,365748,365166,291090,300148,280969,287578,263720,283975

In [28]:
seoul_pop.drop(seoul_pop.index[0], inplace=True)

In [29]:
seoul_pop

,행정구역(시군구)별,2006.1/4,2006.1/4.1,2006.2/4,2006.2/4.1,2006.3/4,2006.3/4.1,2006.4/4,2006.4/4.1,2007.1/4,...,2021.4/4,2021.4/4.1,2022.1/4,2022.1/4.1,2022.2/4,2022.2/4.1,2022.3/4,2022.3/4.1,2022.4/4,2022.4/4.1
1,서울특별시,564368,557006,534527,547619,474367,479747,600645,626086,597349,...,327776,356948,365748,365166,291090,300148,280969,287578,263720,283975

In [30]:
seoul_pop.rename(columns={"행정구역(시군구)별" : "연도"}, inplace=True)

In [32]:
seoul_pop2 = seoul_pop.T
seoul_pop2

                 1
연도           서울특별시
2006.1/4    564368
2006.1/4.1  557006
2006.2/4    534527
2006.2/4.1  547619
...            ...
2022.2/4.1  300148
2022.3/4    280969
2022.3/4.1  287578
2022.4/4    263720
2022.4/4.1  283975

[137 rows x 1 columns]

In [33]:
seoul_pop2.to_csv("C:\\hojun13\\python\\프로젝트\\17년치 시군구별 이동수.csv", encoding="utf-8")

In [35]:
seoul_pop3 = pd.read_csv("C:\\hojun13\\python\\프로젝트\\17년치 시군구별 이동수.csv", encoding="utf-8", header=1)
seoul_pop3

             연도   서울특별시
0      2006.1/4  564368
1    2006.1/4.1  557006
2      2006.2/4  534527
3    2006.2/4.1  547619
4      2006.3/4  474367
..          ...     ...
131  2022.2/4.1  300148
132    2022.3/4  280969
133  2022.3/4.1  287578
134    2022.4/4  263720
135  2022.4/4.1  283975

[136 rows x 2 columns]

In [47]:
sum_pop = []
for i in range(1, len(seoul_pop3)):
    if i%2==1:
        sum_pop.append(seoul_pop3['서울특별시'][i]+seoul_pop3['서울특별시'][i-1])

In [56]:
year=[]
col = []
for i in range(2006, 2023):
    year.append(i)
    for j in range(1, 5):
        col.append("{}".format(i)+"/"+"Q{}".format(j))

col

['2006/Q1',
 '2006/Q2',
 '2006/Q3',
 '2006/Q4',
 '2007/Q1',
 '2007/Q2',
 '2007/Q3',
 '2007/Q4',
 '2008/Q1',
 '2008/Q2',
 '2008/Q3',
 '2008/Q4',
 '2009/Q1',
 '2009/Q2',
 '2009/Q3',
 '2009/Q4',
 '2010/Q1',
 '2010/Q2',
 '2010/Q3',
 '2010/Q4',
 '2011/Q1',
 '2011/Q2',
 '2011/Q3',
 '2011/Q4',
 '2012/Q1',
 '2012/Q2',
 '2012/Q3',
 '2012/Q4',
 '2013/Q1',
 '2013/Q2',
 '2013/Q3',
 '2013/Q4',
 '2014/Q1',
 '2014/Q2',
 '2014/Q3',
 '2014/Q4',
 '2015/Q1',
 '2015/Q2',
 '2015/Q3',
 '2015/Q4',
 '2016/Q1',
 '2016/Q2',
 '2016/Q3',
 '2016/Q4',
 '2017/Q1',
 '2017/Q2',
 '2017/Q3',
 '2017/Q4',
 '2018/Q1',
 '2018/Q2',
 '2018/Q3',
 '2018/Q4',
 '2019/Q1',
 '2019/Q2',
 '2019/Q3',
 '2019/Q4',
 '2020/Q1',
 '2020/Q2',
 '2020/Q3',
 '2020/Q4',
 '2021/Q1',
 '2021/Q2',
 '2021/Q3',
 '2021/Q4',
 '2022/Q1',
 '2022/Q2',
 '2022/Q3',
 '2022/Q4']

In [60]:
len(sum_pop)

68

In [46]:
seoul_pop3['서울특별시'][1]+seoul_pop3['서울특별시']

1121374

In [78]:
seoul_pops = pd.DataFrame(columns=['연도', '총인구'])
seoul_pops

Empty DataFrame
Columns: [연도, 총인구]
Index: []

In [79]:
seoul_pops['연도']=col

In [80]:
seoul_pops['총인구']=sum_pop

In [81]:
seoul_pops

         연도      총인구
0   2006/Q1  1121374
1   2006/Q2  1082146
2   2006/Q3   954114
3   2006/Q4  1226731
4   2007/Q1  1194070
..      ...      ...
63  2021/Q4   684724
64  2022/Q1   730914
65  2022/Q2   591238
66  2022/Q3   568547
67  2022/Q4   547695

[68 rows x 2 columns]

In [103]:
seoul_total = pd.read_csv("C:\\hojun13\\python\\프로젝트\\17년치 서울총인구.csv", encoding="cp949")
seoul_total

,행정구역(시군구)별,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,서울특별시,3978938,4046086,4097562,4116660,4224181,4192752,4177970,4182351,4194176,4189948,4189839,4220082,4263868,4327605,4417954,4426007,4446296

In [104]:
seoul_total['2006']

0    3978938
Name: 2006, dtype: int64

In [96]:
j=0
for i in range(1, len(seoul_pops)): 
    seoul_pops['인구이동률'][i]= seoul_pops['총인구'][i]/seoul_total['{}'.format(year[i//4])]

C:\Users\USER\AppData\Local\Temp\ipykernel_7832\2577576370.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_pops['인구이동률'][i]= seoul_pops['총인구'][i]/seoul_total['{}'.format(year[i//4])]

In [97]:
seoul_pops

         연도      총인구     인구이동률
0   2006/Q1  1121374  0.281827
1   2006/Q2  1082146  0.271969
2   2006/Q3   954114  0.239791
3   2006/Q4  1226731  0.308306
4   2007/Q1  1194070  0.295117
..      ...      ...       ...
63  2021/Q4   684724  0.154705
64  2022/Q1   730914  0.164387
65  2022/Q2   591238  0.132973
66  2022/Q3   568547  0.127870
67  2022/Q4   547695  0.123180

[68 rows x 3 columns]

In [99]:
seoul_pops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      68 non-null     object
 1   총인구     68 non-null     int64
 2   인구이동률   68 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ KB

In [100]:
del seoul_pops['총인구']

In [101]:
seoul_pops

         연도     인구이동률
0   2006/Q1  0.281827
1   2006/Q2  0.271969
2   2006/Q3  0.239791
3   2006/Q4  0.308306
4   2007/Q1  0.295117
..      ...       ...
63  2021/Q4  0.154705
64  2022/Q1  0.164387
65  2022/Q2  0.132973
66  2022/Q3  0.127870
67  2022/Q4  0.123180

[68 rows x 2 columns]

In [102]:
seoul_pops.to_csv("C:\\hojun13\\python\\프로젝트\\17년치 인구이동률.csv", encoding="utf-8")