In [ ]:
file = csv.reader(open("C:\\hojun13\\Pythonwork\\Analysis\\Data\\data\\부동산 파일\\프로젝트\\17년치 실업률.csv", encoding='utf-8'))
print(file)
print(next(file))

FileNotFoundError: [Errno 2] No such file or directory: 'tom_mul_scale.csv'

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mlp
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname ="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc('font',family=font_name)
mlp.rcParams['axes.unicode_minus']=False

In [ ]:
import csv

In [ ]:
import MySQLdb

In [33]:
config ={"host" : "127.0.0.1", "user" : "root", "password" : "1111", "database" : "Economics"}

In [34]:
conn =None
try:
    conn = MySQLdb.connect(**config)
    cur=conn.cursor()
    
    file = csv.reader(open("C:\\hojun13\\Pythonwork\\Analysis\\Data\\data\\부동산 파일\\프로젝트\\17년치 실업률.csv", encoding='utf-8'))
    next(file)
    for i in file:
        cur.execute("INSERT INTO unemployment_rate VALUES(%s, %s)", i)
    
    conn.commit()

except Exception as e:
    print("error : ", e)
finally :
    if conn !=None:
        conn.close()

In [15]:
seoul_bus = pd.read_csv("C:\\hojun13\\Pythonwork\\Analysis\\Data\\data\\부동산 파일\\프로젝트\\2018_bus_count.csv", encoding='utf-8')
seoul_bus

      gu  정류장수
0    강남구   534
1    강동구   349
2    강북구   460
3    강서구   576
4    관악구   485
5    광진구   286
6    구로구   478
7    금천구   342
8    노원구   537
9    도봉구   386
10  동대문구   318
11   동작구   460
12   마포구   569
13  서대문구   444
14   서초구   648
15   성동구   439
16   성북구   611
17   송파구   413
18   양천구   363
19  영등포구   491
20   용산구   349
21   은평구   499
22   종로구   382
23    중구   207
24   중랑구   379

In [ ]:
2018 월별 인구이동률

In [110]:
seoul_pop = pd.read_csv("C:\\hojun13\\Pythonwork\\Analysis\\Data\\data\\부동산 파일\\프로젝트\\2022 월별 인구이동률.csv", encoding='utf-8')
seoul_pop

,자치구별,2022년 1월,2022년 2월,2022년 3월,2022년 4월,2022년 5월,2022년 6월,2022년 7월,2022년 8월,2022년 9월,2022년 10월,2022년 11월,2022년 12월
0,서울특별시,4.598942,6.326203,5.528745,4.368516,4.761597,4.126016,4.095904,4.638076,4.000090,3.982843,4.009365,4.320000
1,종로구,4.543044,6.638830,5.163626,4.063817,4.410609,3.876411,4.310158,4.807354,4.189733,3.977569,3.893155,4.160002
2,중구,4.538728,6.390233,5.647122,4.254786,4.549155,3.916633,3.955340,4.546094,3.995261,3.816093,3.810534,4.330129
3,용산구,4.660841,6.008962,5.280243,4.942809,5.546687,4.788128,4.439561,4.687082,4.061699,4.055996,4.245485,4.363189
4,성동구,4.645632,6.787752,5.607546,4.179653,4.377144,4.059497,4.196835,4.607179,3.953848,3.684908,3.873796,3.918083
5,광진구,4.679680,6.510431,5.787601,4.408210,4.908434,4.158817,4.138012,4.629619,3.735133,3.844564,4.005290,4.189236
6,동대문구,4.420696,6.516716,5.383777,3.821986,4.113889,3.543791,3.672692,4.845874,4.374721,3.923746,3.479201,3.681574
7,중랑구,3.934414,5.332506,5.224489,4.082936,4.372415,3.646354,3.671874,4.056128,3.493091,3.491815,3.468717,3.477880
8,성북구,4.114760,7.833158,6.398508,4.016885,4.297467,3.647855,3.528231,4.435329,3.550317,3.524945,3.440518,3.671568
9,강북구,3.320441,4.731159,4.646053,3.669433,4.201814,3.668441,3.630215,3.831850,3.355305,3.423681,3.467784,3.380846
10,도봉구,3.205595,4.319342,4.401596,3.678742,3.903534,3.684316,3.444784,3.792049,3.376618,3.293363,3.431114,3.531470
11,노원구,4.483598,5.940004,4.864766,3.410788,3.815853,3.514959,3.405869,3.871502,3.518665,3.272679,3.236482,3.417303
12,은평구,3.891969,4.765559,4.807648,4.933210,5.009506,4.254002,4.154225,4.452741,4.078522,4.169500,4.511233,4.593783
13,서대문구,5.398477,7.542998,5.986459,4.235573,4.389362,3.778253,4.003103,5.172744,3.875830,3.738517,4.238639,5.048801
14,마포구,4.789714,6.530088,5.730983,4.585049,5.037076,4.235445,4.236241,4.729339,3.955910,3.915892,4.031308,4.647831
15,양천구,4.454436,5.794508,4.745138,4.260641,4.660814,3.848627,3.998462,4.343102,3.669639,3.959310,3.748311,4.159791
16,강서구,4.084308,5.408205,5.069486,4.506181,4.873683,4.357986,4.173055,4.294284,3.910249,3.714350,3.862598,4.376738
17,구로구,3.910285,4.876330,4.753293,3.963927,4.282506,3.502185,3.565262,4.021615,3.432262,4.592727,4.334370,4.260162
18,금천구,4.144656,4.692613,4.753279,4.317641,4.856891,4.233158,3.938769,4.148841,3.946917,3.923996,3.865809,3.946213
19,영등포구,4.737558,6.347094,5.431127,4.377923,4.794012,4.230792,4.130937,5.398832,4.437722,4.363284,4.271123,4.558549
20,동작구,4.935183,6.968140,5.955402,4.308073,4.865524,4.311559,4.326001,5.110607,4.437170,4.315448,4.487720,4.921598
21,관악구,5.026792,6.612639,6.125583,4.601139,5.289731,4.637858,4.598764,5.297571,4.783491,4.581866,4.514033,4.744679
22,서초구,5.642108,7.630943,6.239148,4.704254,5.404912,4.643755,4.822482,5.284930,5.053070,4.877904,4.457075,5.196454
23,강남구,5.960330,8.077687,6.308288,4.854075,5.410228,4.871746,4.974760,5.755940,4.426434,4.405630,4.544188,5.325698
24,송파구,5.355552,8.036437,6.631919,5.041116,5.213000,4.392578,4.381226,4.758232,4.055405,4.172761,4.285283,4.836881
25,강동구,4.905707,6.178618,5.723384,4.906064,5.309918,4.418789,4.055897,4.383238,3.804770,3.802986,3.932115,4.105971

In [111]:
seoul_pop.set_index('자치구별', inplace=True)

In [112]:
seoul_pop.to_csv("C:\\hojun13\\Pythonwork\\Analysis\\Data\\data\\부동산 파일\\프로젝트\\2022 월별 인구이동률.csv", encoding='utf-8')

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, 서울특별시 to 강동구
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   2018년 1월   26 non-null     float64
 1   2018년 2월   26 non-null     float64
 2   2018년 3월   26 non-null     float64
 3   2018년 4월   26 non-null     float64
 4   2018년 5월   26 non-null     float64
 5   2018년 6월   26 non-null     float64
 6   2018년 7월   26 non-null     float64
 7   2018년 8월   26 non-null     float64
 8   2018년 9월   26 non-null     float64
 9   2018년 10월  26 non-null     float64
 10  2018년 11월  26 non-null     float64
 11  2018년 12월  26 non-null     float64
dtypes: float64(12)
memory usage: 2.6+ KB

In [88]:
for i in range(1, 13):
    date= "2020_{} float not null".format(i)
    print(date)

2020_1 float not null
2020_2 float not null
2020_3 float not null
2020_4 float not null
2020_5 float not null
2020_6 float not null
2020_7 float not null
2020_8 float not null
2020_9 float not null
2020_10 float not null
2020_11 float not null
2020_12 float not null

In [ ]:
2022_1 float not null,
2022_2 float not null,
2022_3 float not null,
2022_4 float not null,
2022_5 float not null,
2022_6 float not null,
2022_7 float not null,
2022_8 float not null,
2022_9 float not null,
2022_10 float not null,
2022_11 float not null,
2022_12 float not null);